.header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, 
    rgba(156, 237, 248, 0.05) 0%, 
    rgba(160, 253, 244, 0.05) 40%, 
    #ffffff 80%);
    backdrop-filter: blur(4px);
    pointer-events: none;
    z-index: -1;
  }
  
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    .logo-icon {
        font-size: 28px;
    }

    .logo-text {
        font-size: 20px;
        font-weight: 700;
        background: linear-gradient(135deg, #059669 0%, #10B981 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.right-section {
    display: flex;
    align-items: center;
}

.search-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-wrapper {
    position: relative;

    .search-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 14px;
        color: var(--text-light);
    }

    .search-input {
        padding: 8px 16px 8px 32px;
        // border: 2px solid #91c8fc;
        border: none;  
        border-radius: 40px;
        background: var(--surface);
        width: 200px;
        font-size: 14px;
        transition: all 0.2s;
        outline: none;
        
        &:focus {
            outline: none !important;
            border: 1px solid #059669;
            width: 200px;
        }
        
        &::placeholder {
            font-size: 14px;
            color: var(--text-light);
        }
    }
}

.auth-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-btn {
    color: white;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
    background: #1eb384;
    border: none;

    &:hover {
        transform: translateY(-1px);
        box-shadow: var(--shadow);
    }
}

.user-avatar {
    display: flex;
    align-items: center;
    gap: 8px;

    .user-sticker {
        width: 40px;
        height: 40px;
        background: linear-gradient(135deg, #eefac4 0%, #eef8b5 100%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border: 2px solid #03d360;
    }

    .user-name {
        font-weight: 500;
        font-size: 14px;
    }
}

.logout-btn {
    background: #4e90fa;
    border: 2px solid #3e85f8;
    padding: 6px 10px;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    width: 70px;
    margin-left: 10px;

    &:hover {
        background: #4e90fa;
        color: white;
        border: 2px solid #f84c2e;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .search-group {
        width: 100%;
    }

    .search-wrapper {
        flex: 1;
        
        .search-input {
        width: 100%;
        
        &:focus {
            width: 100%;
        }
        }
    }
}